@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Dm Sans;
}

/* general css  */

a {
  text-decoration: none;
}

#formError {
  color: red;
}

.fb_flex_new,
.fb_blue_flex,
.fb_menu_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fb_flex_new {
  margin-bottom: 0rem !important;
  flex-wrap: wrap !important;
  gap: 1rem !important;
}

.fb_font {
  color: #222;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02563rem;
}

a {
  text-decoration: none;
}

.fb_container {
  margin: 0 auto;
  padding: 1rem;
}

ul {
  margin-bottom: 0;
}

.listing_page {
  margin: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.listing_wrapper,
.listing_box {
  display: inline-flex;
  width: 100%;
  position: relative;
  border-radius: 0.625rem;
}
.listing_wrapper {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1),
    /* Larger shadow */ 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.list_img {
  width: 18rem;
  height: 12rem;
  border-radius: 0.625rem;
  object-fit: cover;
}

.line {
  color: #dcdcdc;
}

.per_month {
  font-size: 0.8rem;
  color: #acacac;
}

.listing_wrapper {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0rem;
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for hover effect */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1),
    /* Larger shadow */ 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.list_top {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.8rem;
}

.thumbs_up {
  background-color: #222;
  padding: 0.3rem 0.8rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbs_up img {
  width: 1.5rem;
  height: 1.5rem;
}

.list_top h2 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.listing_img {
  position: relative;
  border-radius: 0.625rem;
}

.verified_tick {
  background-color: #077838;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  border-radius: 0.3125rem;
  position: absolute;
  top: 5%;
  left: 2%;
  padding: 0.05rem 0.5rem;
  font-size: 0.75rem;
}
.heart_fav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  border-radius: 0.3125rem;
  position: absolute;
  top: 5%;
  right: 2%;
  padding: 0.25rem 0.8rem;
  font-size: 0.8rem;
}

.heart_fav img {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.verified_tick img {
  width: 0.9rem;
  height: auto;
}

.rating_num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #077838;
  padding: 0.1rem 0.8rem;
  border-radius: 0.3125rem;
  color: #fff;
  font-family: DM Sans;
  font-size: 0.675rem;
  width: max-content;
}

.fb_flex {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.total_ratings {
  color: #acacac;
  font-size: 0.9rem;
}

.list_location {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.8rem;
  font-size: 1rem;
}

.list_location img {
  width: 1rem;
  height: 1rem;
}

.extra_info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
  width: 100%;
  flex-wrap: wrap;
  height: 2rem;
  overflow: auto;
}

.extra_info::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
}

/* This styles the scrollbar handle */
.extra_info::-webkit-scrollbar-thumb {
  background: blue; /* Color of the scrollbar thumb */
}

.extra_sport {
  background-color: #f5ebeb;
  color: #626060;
  padding: 0.2rem 0.8rem;
  border-radius: 0.3125rem;
  width: auto;
  font-size: 0.75rem;
}

.view_list_btn_2 {
  padding: 15px 8px;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  height: 2rem;
  border: 1px solid #077838;
  color: #077838;
  background-color: #fff;
  font-size: 0.75rem;
}

.list_btn {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.gap {
  margin-bottom: 1.5rem;
}
.carousel {
  position: relative;
  border-radius: 0625rem;
}

.carousel_images img {
  display: none;
  border-radius: 0.625rem;
}

.carousel_images img.active {
  display: block; /* Changed from flex to block for images. */
}

.carousel_dots {
  position: absolute;
  bottom: 30px; /* Adjusted for visual preference, can be changed. */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.carousel_contacts {
  position: absolute;
  bottom: 0; /* Position it at the bottom of the carousel. */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Take up the full width of the carousel. */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-sizing: border-box; /* Ensures padding doesn't add to the width. */
  padding-right: 1rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  background-color: #dbd0d0;
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: #fff;
  height: 12px;
  width: 12px;
}

.white_phone,
.white_whatsapp {
  background-color: #0076d7;
  border-radius: 0.625rem;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.whatsapp_btn button,
.phone_btn button {
  border: none;
  border-radius: 0.3125rem;
  padding: 3px 12px;
  background-color: #077838;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  color: white;
  font-size: 0.875rem;
}

.phone_btn button {
  background-color: #0076d7;
}

.white_phone img,
.white_whatsapp img,
.whatsapp_img {
  width: 1.8rem;
  height: 1.8rem;
}

.white_whatsapp {
  background-color: #077838;
}

.list_down,
.list_btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

.down_menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #dcdcdc;
  width: 100%;
  font-family: DM Sans;
}

.mini_logo {
  padding-left: 1rem;
}

.mini_logo img,
.mini_logo_2 img {
  border-radius: 50%;
  height: 2.3rem;
  width: 2.3rem;
}

.logo_details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.logo_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 10rem;
}
.logo_info span {
  font-size: 0.7rem;
}

.logo_info span:nth-child(2) {
  background: linear-gradient(to right, orange, yellow);
  padding: 0rem 0.5rem;
  font-weight: 600;
  color: #fff;
  font-size: 0.65rem;
}
.logo_info span:nth-child(3) {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping to a new line */
}

/* General styles for the full-screen wrapper with a semi-transparent blurred background */
.list_popup_wrapper {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox to center the popup content */
  justify-content: center;
  align-items: flex-end; /* Align items at the bottom for mobile */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

/* Styles for the popup content */
.popup_content {
  width: 100%;
  height: 50%;
  background-color: white;
  position: relative;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  padding: 1rem;
}

/* Styles for the close button */
.close_button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.search-box {
  position: relative;
  margin: 1rem;
}

.search-input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-55%);
  color: #333;
  text-decoration: none;
}

.search-input::placeholder {
  color: #aaa;
}

.result_place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-family: DM Sans;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.result_location {
  padding-left: 1rem;
  padding-right: 1rem;
}

.precise_location {
  color: #0076d7;
  font-family: DM Sans;
  margin-left: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.filter_section {
  display: none;
  justify-content: space-between;
  flex-wrap: nowrap; /* Prevent wrapping */
  align-items: center;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  gap: 0.5rem;
  margin: 1rem;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
}

.filter_sort {
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  gap: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 10rem;
  border: 1px solid #dcdcdc;
  font-size: 0.875rem;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping */
  background-color: #f7f7f7;
  width: 100%;
}

.filter_sort img {
  height: 0.875rem;
  width: 0.875rem;
}

.top_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}
.menu_img {
  width: 2rem;
  height: 2rem;
}

.graph_view {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
}

.localities {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.localities h2 {
  font-weight: 900;
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-top: 1rem;
  text-align: start;
  border: 1px solid #dcdcdc;
  border-radius: 0.625rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  height: 1.3rem;
  width: 1.3rem;
}

.grid-item span {
  color: #222;
  font-size: 0.75rem;
  font-weight: 700;
}

.last_line {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}

.filter_left {
  height: max-content;
  border: 1px solid #dcdcdc;
  border-radius: 0.625rem;
  padding: 1rem;
}

.filter_left h6{
  margin-bottom: 1.5rem;
}

.filter_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

/* Responsive adjustments for non-mobile devices can be added here */

@media only screen and (max-width: 1270px) {
  .list_top h2 {
    font-size: 1.2rem;
    font-weight: 900;
  }
}
@media only screen and (max-width: 1050px) {
  .listing_page {
    grid-template-columns: auto;
  }

  .filter_section {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    align-items: center;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    gap: 0.5rem;
    margin: 1rem;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  }

  .filter_left {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 1rem;
    text-align: start;
  }
  .list_top h2 {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .listing_box {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-radius: 0.625rem;
    gap: 1rem;
  }

  .list_img {
    width: 100%;
    height: 10rem;
    display: block;
    border-radius: 0.625rem;
  }

  .list_top h2 {
    margin-top: -0.5rem;
  }

  .down_menu {
    display: flex;
  }

  .last_line {
    display: none;
  }

  .logo_info {
    width: 4rem;
  }

  .filter_section {
    display: flex;
  }

}
